<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News Report</title>
    </head>
    <body>
        <h1>News search history</h1>
        <div>
            <h4>
                <ol>
                    <li data-th-each="log: ${searchLog}">
                        <span data-th-text="${log}"></span><br>
                    </li>
                </ol>
            </h4>
            <h4><a data-th-href="@{/}">Back</a></h4>
        </div>
    </body>
</html>